<div class="mt4">
  <form class="pa4 center mw6 ba b--near-white">
    <fieldset class="cf bn ma0 pa0">
      <h2>Input with floating label</h2>
      <div class="mt5">
        {{input-with-floating-label
          label="Username"}}
      </div>
      <div class="mt3">
        {{input-with-floating-label
          label="Favorite city"}}
      </div>
      <div class="mt5">
        <button
          class="button-reset bn bg-animate bg-black-70 hover-bg-black white pointer w-30 br2-ns pv3">
          Yay
        </button>
      </div>
    </fieldset>
  </form>
</div>
